:root {
  --primary-text-color: #000000;
  --white-color-text: #fff;
  --gren-baner-color: #c1e2b3;
  --footer-bg: #e4b9b9;
  --cost-section-bg: #ebebeb;
  --primary-site-color: #ea907a;
  --header-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.1),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 11px 25px 0px rgba(0, 0, 0, 0.12);
  --text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
